# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Vite
vite.config.*.timestamp-*
.env
.venv/
venv/
/test/*.jpg
__pycache__/
*.pyc
.DS_Store
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
